.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  padding: 20px;
  border-radius: 10px;

  position:fixed;
  background: white;
  width: 30%;
  height: 30%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal-title{
  font-size: 28px;
  font-weight: 500;
}

.modal-btn-close{
  border: none;
  border-radius: 30px;

  position: fixed;
  top: -15px;
  right: -15px;

  padding: 12px 15px;
  background-color: #3D96FF;
  color: white;
  cursor: pointer;
}

.modal-content{
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@media (max-width: 480px) {
  .modal-main{
    width: 65%;
    height: auto;
  } 
}